* {
      margin: 0;
      padding: 0;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input {
      border-radius: 0;
      outline: none;
}

body, html {
      height: 100%;
}

#app {
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      color: #2c3e50;
      margin: 0 auto 120px auto;
      padding: 20px 10px 1px 10px;
}

a {
      text-decoration: none;
      color: inherit;
}

button {
      -webkit-appearance: none;
      border: 0;
}

/*BG COLOR*/

.bg-color {
      background: #ffffff;
      color: #797979;
}

.bg-color2 {
      background: linear-gradient(45deg, #00ff8b,#0053ff);
      color: #ffffff;
}

.bg-color-fff {
      background: #fff;
}

.bg-color-gradient {
      background: linear-gradient(45deg, #00ff8b,#0053ff);
      color: #ffffff;
}

/*BG COLOR END*/

.text-color1 {
      color: #8190b0;
}

.text-color2 {
      color: #4192e8;
}

.text-color3 {
      color: #ffffff;
}

.text-color4 {
      color: #848484;
}

.btn {
      cursor: pointer;
      text-transform: uppercase;
      border-radius: 3px;
      padding: 15px 10px;
      font-size: 12px;
      font-weight: bold;
      box-shadow: 0 1px 7px 0 #d8d8d8;
      -webkit-tap-highlight-color: transparent;
      transition: .2s;
}

.btn-big {
      width: 70%;
      margin: 0 auto;
}

.btn:active {
      box-shadow: inset 0 1px 15px 2px #777777;
      -webkit-tap-highlight-color: transparent;
}

.text-bold {
      font-weight: bolder;
}

.fixed-top {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
}

.fixed-bottom {
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
}

/*ANIMATION*/
.fade-enter-active, .fade-leave-active {
      transition-property: opacity;
      transition-duration: .25s;
}

.fade-enter-active {
      transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
      opacity: 0
}

.bounce-enter-active {
      animation: bounce-in .5s;
}
.bounce-leave-active {
      animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
      0% {
            transform: scale(0);
      }
      50% {
            transform: scale(1.5);
      }
      100% {
            transform: scale(1);
      }
}

/*ANIMATION ENDS*/

/*SELECT*/
.a-category-select-input__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 -20px;
      background: #fff;
}

.a-category-select-input__wrapper label {
      font-size: 20px;
      width: 100%;
      position: relative;
}

.a-category-select-input__wrapper input, .a-category-select-input__wrapper select {
      width: 95%;
      color: #797979;
      padding: 10px;
      background: transparent;
      position: relative;
      border-radius: 3px;
      border: 0;
      font-size: 16px;
      margin-top: 20px;
      box-shadow: 0 1px 7px 0 #d8d8d8;
      -webkit-appearance: none;
}

.a-category-select-input__wrapper label:after {
  content: 'v';
  position: absolute;
  right: 30px;
  color: #797979;
  top: 24px;
}

/*SELECT ENDS*/

/*SHADOWED ITEMS*/

.shadow-border {
      padding: 10px 5px;
      box-shadow: 0 1px 7px 0 #d8d8d8;
}

/*SHADOWED ITEMS END*/

/*COUNTER*/

.order_counter {
      position: absolute;
      top: 2px;
      right: 2px;
      padding: 4px 8px;
      border-radius: 50%;
      background: #ff5e5e;
      color: #fff;
      font-size: 13px;
}

/*COUNTER END*/

@media (min-width: 768px) {
      .btn:hover {
            box-shadow: 0 0 1px 0 #d8d8d8;
            transition: .2s;
      }

      .fixed-top, .fixed-bottom {
            max-width: 900px;
            margin: 0 auto;
      }
}
