* {
      margin: 0;
      padding: 0;
}

#app {
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      color: #2c3e50;
      margin: 0 auto 60px auto;
      padding-top: 20px;
}

.fade-enter-active, .fade-leave-active {
      transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
      opacity: 0;
}

a {
      text-decoration: none;
      color: inherit;
}

.bg-color {
      background: #ffb407;
}

.bg-color2 {
      background: #4192e8;
}

.btn {
      text-transform: uppercase;
      border-radius: 3px;
      color: #fff;
      padding: 15px 5px;
      font-size: 12px;
}