* {
      margin: 0;
      padding: 0;
}

#app {
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      color: #2c3e50;
      margin: 0 auto 90px auto;
      padding: 20px 10px 1px 10px;
}

.fade-enter-active, .fade-leave-active {
      transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
      opacity: 0;
}

a {
      text-decoration: none;
      color: inherit;
}

.bg-color {
      background: #ffc02e;
      color: #fff;
}

.bg-color2 {
      background: #4192e8;
      color: #fff;
}

.text-color1 {
      color: #ffb407;
}

.text-color2 {
      color: #4192e8;
}

.btn {
      cursor: pointer;
      text-transform: uppercase;
      border-radius: 3px;
      padding: 15px 10px;
      font-size: 12px;
      font-weight: bold;
      box-shadow: 0 1px 7px 0 #d8d8d8;
      transition: .3s;
}

.btn:active {
      box-shadow: inset 0 1px 15px 2px #777777;
      transition: .3s;
}

.text-bold {
      font-weight: bolder;
}

.fixed-top {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
}

.fixed-bottom {
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
}

/*ANIMATION*/

.bounce-enter-active {
      animation: bounce-in .5s;
}
.bounce-leave-active {
      animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
      0% {
            transform: scale(0);
      }
      50% {
            transform: scale(1.5);
      }
      100% {
            transform: scale(1);
      }
}

/*ANIMATION ENDS*/

/*SELECT*/
.a-category-select-input__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 -18px;
}

.a-category-select-input__wrapper label {
      font-size: 20px;
      width: 100%;
      background: #fff;
}

.a-category-select-input__wrapper input, .a-category-select-input__wrapper select {
      width: 95%;
      padding: 10px;
      background: transparent;
      border: solid 1px #247ebc;
      border-radius: 3px;
      font-size: 16px;
      margin-top: 10px;
      color: #247ebc;
}

.a-category-select-input__wrapper select {
      width: 100%;
      margin-bottom: 10px;
}

/*SELECT ENDS*/

/*SHADOWED ITEMS*/

.shadow-border {
      border: solid 1px #d6d6d6;
      border-radius: 6px;
      padding: 10px 5px;
      box-shadow: 0 1px 7px 0 #d8d8d8;
}

/*SHADOWED ITEMS END*/