$bg-white: #ffffff;
$bg-green: #41b883;
$bg-color-gradient: linear-gradient(45deg, #00ff8b, #0053ff);

$text-color-grey_blue: #8190b0;
$text-color-blue: #4192e8;
$text-color-white: #ffffff;
$text-color-brown: #848484;
$text-color-green: $bg-green;